#deathCounter {
    font-family: 'Segoe UI Black Regular', 'Segoe UI', sans-serif;
    flex: 1;
    text-align: center;
    color: white;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}